# Python
__pycache__/
*.py[cod]
*$py.class
*.md

# Media / Testing Files
*.mp3
*.wav
*.webm
*.mp4

# PyInstaller / Build
build/
dist/
*.spec

# IDE / Editor
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
